# Python virtual environments
.venv/
venv/
env/
ENV/
*.env/

# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# macOS and Linux hidden files
.DS_Store
*.swp